@import url('../node_modules/font-awesome/css/font-awesome.min.css');

.App{
  display: flex;
}

.sicon{
  /* fontStyle:"oblique", fontSize:"40px",color:"#847FFD" */
  font-style: oblique;
}
div.Target-root.css-14dretl{
  height: 230px !important;
}

.sidebar{
  border: 0.5px solid gainsboro;
  /* position: relative;
  right: 40px; */
  /* padding: 20px; */
}
.navbar{
  border: 0.5px solid gainsboro;
  padding: 10px;
}
.home{
  /* padding: 30px; */
  border: 0.5px solid gainsboro;
}

.background-color{
  background-color: #303b8d;
  height: 180px;
  width: 100%;
}
.home-section{
  padding: 25px;
  border: 0.5px solid gainsboro;
}
.About{
  border: 0.5px solid gainsboro;
  padding: 30px;
}
.search{
  border: none;
  border-color: gainsboro;
  padding: 5px;
  width: 215px;
}
.bell, .envelope, .profile-icon{
  border: 0.5px solid gainsboro;
  padding: 5px;
  border-radius: 5px;
}
li{
  display: block;
}
.img > img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.img{
  position: relative;
  bottom: 100px;
  text-align: center;
}
.exp, .edu{
  display: flex;
}
.donutchart{
  border: 0.5px solid gainsboro;
  border-radius: 20px;
}
.scroll-bar{
  width: 190px;
  background-color: blueviolet;
  height: 20px;
  border-radius: 10px;
}